@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
/*--------------------*/
body {
  font-family: "Rubik", sans-serif;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper .header .header__top {
  padding: 15px 0 15px 0;
  background-color: #7AC751;
}
.wrapper .header .header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.wrapper .header .header__top .container__item span {
  margin-right: 61px;
}
.wrapper .header .header__top .container__item a.container__item_link {
  padding: 1px 5px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #7AC751;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.wrapper .header .header__top .container__item a.container__item_link:hover {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: #7AC751;
}
.wrapper .header .container .fur-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 0 25px 0;
}
.wrapper .header .container .fur-flex .logo {
  max-width: 147px;
  margin-right: 120px;
}
.wrapper .header .container .fur-flex .logo__link {
  display: block;
  width: 100%;
}
.wrapper .header .container .fur-flex .logo__link .logo__img {
  width: 100%;
}
.wrapper .header .container .fur-flex .form-search {
  position: relative;
  margin-right: 201px;
}
.wrapper .header .container .fur-flex .form-search__input {
  width: 555px;
  padding: 15px 200px 15px 25px;
  color: #555;
  font-size: 14px;
  border: 2px solid #7AC751;
  border-radius: 8px;
}
.wrapper .header .container .fur-flex .form-search__input::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #B0B0B0;
}
.wrapper .header .container .fur-flex .form-search__input::-moz-placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #B0B0B0;
}
.wrapper .header .container .fur-flex .form-search__input:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #B0B0B0;
}
.wrapper .header .container .fur-flex .form-search__input::-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #B0B0B0;
}
.wrapper .header .container .fur-flex .form-search__input::placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #B0B0B0;
}
.wrapper .header .container .fur-flex .form-search__categories {
  position: absolute;
  top: 3px;
  right: 85px;
  padding: 15px 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}
.wrapper .header .container .fur-flex .form-search__categories:hover {
  color: #7AC751;
}
.wrapper .header .container .fur-flex .form-search__categories .categories-img {
  position: absolute;
  top: 16px;
  right: -15px;
  padding: 5px;
  cursor: pointer;
}
.wrapper .header .container .fur-flex .form-search__categories::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -10px;
  width: 2px;
  height: 47px;
  background-color: rgba(227, 227, 227, 0.78);
}
.wrapper .header .container .fur-flex .form-search__link {
  position: absolute;
  top: 2px;
  right: 0;
  width: 55px;
  height: 47px;
  background-color: #7AC751;
  border-radius: 0 8px 8px 0;
}
.wrapper .header .container .fur-flex .form-search__link_img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 21px;
}
.wrapper .header .container .fur-flex .social-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .header .container .fur-flex .social-flex a {
  display: inline-block;
  margin-right: 28px;
}
.wrapper .header .container .fur-flex .social-flex a span {
  position: absolute;
  top: 83px;
  right: 215px;
  width: 13px;
  height: 13px;
  padding-top: 2px;
  background-color: #7AC751;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
}
.wrapper .header .container .fur-flex .social-flex:last-child {
  margin-right: 0;
}
.wrapper .header .container .fur-flex .social-flex .social-flex_por {
  position: relative;
}