.wrapper
	.header
		.header__top
			padding: 15px 0 15px 0
			background-color: $main_color
			.container
				display: flex
				justify-content: space-between
				font-family: 'Rubik'
				font-weight: 400
				font-size: 16px
				line-height: 19px
				color: $on_bg_color
				&__item
					span
						margin-right: 61px
					a.container__item_link
						padding: 1px 5px
						font-family: 'Rubik'
						font-weight: 400
						font-size: 16px
						line-height: 19px
						color: $on_bg_color
						border-radius: 5px
						border: 1px solid $main_color
						cursor: pointer
						transition: all .4s
						&:hover
							border: 1px solid #fff
							border-radius: 5px
							background-color: #fff
							color: $main_color
		.container
			.fur-flex
				display: flex
				justify-content: start
				align-items: center
				padding: 21px 0 25px 0
				.logo
					max-width: 147px
					margin-right: 120px
					&__link
						display: block
						width: 100%
						.logo__img
							width: 100%
				.form-search
					position: relative
					margin-right: 201px
					&__input
						width: 555px
						padding: 15px 200px 15px 25px
						color: $sub_color1
						font-size: 14px
						border: 2px solid $main_color
						border-radius: 8px
						&::placeholder
							font-family: $main_family
							font-weight: 400
							font-size: 14px
							color: #B0B0B0
					&__categories
						position: absolute
						top: 3px
						right: 85px
						padding: 15px 10px
						font-family: $main_family
						font-weight: 400
						font-size: 14px
						color: $sub_color1
						cursor: pointer
						&:hover
							color: $main_color
						.categories-img
							position: absolute
							top: 16px
							right: -15px
							padding: 5px
							cursor: pointer
					&__categories::before
							content: ""
							position: absolute
							top: -1px
							left: -10px
							width: 2px
							height: 47px
							background-color: rgba(227, 227, 227, 0.78)
					&__link
						position: absolute
						top: 2px
						right: 0
						width: 55px
						height: 47px
						background-color: $main_color
						border-radius: 0 8px 8px 0
						&_img
							position: absolute
							top: 50%
							transform: translateY(-50%)
							left: 21px
				.social-flex
					display: flex
					justify-content: center
					a
						display: inline-block
						margin-right: 28px
						span
							position: absolute
							top: 83px
							right: 215px
							width: 13px
							height: 13px
							padding-top: 2px
							background-color: $main_color
							font-family: $main_family
							font-weight: 400
							font-size: 8px
							text-align: center
							color: $on_bg_color
							border-radius: 100%
					&:last-child
						margin-right: 0
					.social-flex_por
						position: relative






